version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: epicurean_db
    restart: always
    environment:
      MYSQL_DATABASE: 'food_wastage_management_system'
      MYSQL_ROOT_PASSWORD: 'root'
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  app:
    build: .
    container_name: epicurean_app
    ports:
      - "8501:8501"
    depends_on:
      - db
    env_file:
      - .env

volumes:
  db_data: